body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.contenedor{
    display: flex;
}

.contenido1{
    flex: 1;
}

.formulario1{
    flex: 1;
}

@media(max-width: 700px) {
    .contenedor{
        flex-direction: column;
    }
}