*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* =============== Embergadura del fondo de la página ============== */
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Imagenes/FondWeb\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    height: 94vh;
}

/* =============== Barra inicial con texto "G-NOB" ============== */
.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: #110f01;
    opacity: 70%;
}

.logo{
    color:#edd20a; 
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 25px;
    z-index: cover;
}

.logo:hover{
    color: #47b2ec;
    transition: 0.3s ease-in-out;
}

/* =============== Logo de la empresa G-NOP ============== */
.icons{
    width: 200px;
    float: left;
    height: 70px;
}
.icons img{
    width: 50;
    height: 50px;
    float: left;
    align-items: end;
    position: initial;
    padding: 15px;
}

/* =============== Logo de la sección G-NOB MONEY ============== */
.icons2 img{
    width: 90px;
    height: 90px;
    position: absolute;
    top: -90px;
    left: 75px;
    border-radius: 10px;
    padding: 30px;
    z-index: 1;
}

.icons2 img::before{
    content: "";
    background-color: #fff;
}


/* == Pestañas de la parte superior (Inicio, Servicios y Nosotros) ============== */
.menu{
    width: 650px;
    float: left;
    height: 70px;
    justify-content: space-around;
}

ul{
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-size: 16px;
    width: 60px;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    align-content: right;
    transition: 0.5s ease-in-out;
}

ul li a:hover{
    color: #edd20a;
}

/* ======Parte del buscador de texto ============== */
.Buscar{
    width: 330px;
    float: left;
    margin-left: 270px;
    padding-top: 10px;
}

.srch{
    font-family:'Lucida Sans';
    width: 150px;
    height: 20px;
    background: transparent;
    border: 1.5px solid #9f9a9a;
    margin-top: 13px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    float: left;
    padding: 10px;
    padding-top: 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.srch:focus{
    outline: none;
}

.srch:hover{
    background:#6665657f;
}



.btn{
    width: 50px;
    height: 22px;
    background: linear-gradient(to right, #110f01, #9f9a9a);
    border: 1px solid #9f9a9a;
    margin-top: 13px;
    color: #fff;
    font-size: 12px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.btn:hover{
    background: #edd20a;
    color: #475dec;
}

.btn:focus{
    outline: none;
}



/* =============== Texto explicativo de la web ============== */
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: Verdana;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content p a{
    color: #edd20a;
    text-decoration: none;
}

.content p a:hover{
    color: #475dec;
}

.content .cn{
    width: 160px;
    height: 40px;
    background:linear-gradient(to right, #47b2ec, #9f9a9a);
    border-radius: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background: linear-gradient(to right, #edd20a, #fff);
    transition: .3s ease;
}

.content span{
    font-family: monospace;
    color: #edd20a;
    font-size: 60px;
}

.content span:hover{
    color: #47b2ec;
}

/* ==== Formulario de entrada de cuentas ============== */
.form{
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgba(0, 5, 8, 0.8)50%, rgba(0, 5, 8, 0.8)50% );
    position: absolute;
    top: -0px;
    left: 870px;
    border-radius: 10px;
    padding: 30px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #000;
    font-size: 22px;
    background-color: #edd20a;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form h2:hover{
    color:#fff;
    background: #47b2ec;
}

/* ===== Se ha eliminado esta parte en HTML5 ============== */
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #edd20a;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: #9f9a9a;
    font-family: Arial;
}

.form input:hover{
    background: #f8f6f665;
    border-radius: 5px 5px;
    transition: 0.4s ease;
}

/* ======Texto notifiero de elegir tipo de cuenta ============== */
.form h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    height: 2px;
    text-align: center;
    position:relative;
}
/* ===== Botones de entrada para diferentes cuentas ============== */
.btn3{
    width: 240px; 
    height: 40px;
    background: linear-gradient(to right, #47b2ec, #9f9a9a);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btn3:hover{
    background: linear-gradient(to right, #edd20a, #fff);
}

.btn3 a{
    text-decoration: none;
    color: #000;
    font-size: bold;
}

/* =======Parte eliminada en HTML5 ============== */
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #edd20a;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}


/* ====Son iconos de redes sociales ============== */
.icon a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding-top: 50px;
    border-radius: 30px;
    padding: 12px;
    z-index: cover;
}

.con .ion-ion{
    color: #f12850;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icon a:hover{
    color: #edd20a;
}

@media (min-widht:1000){
    .form{
        background-position-x: calc(100vw - 800px); 
    }
}

/* =======Parte eliminada en HTML5 ============== */
.caracteristicas{
    background-image: url(Imagenes/FondWeb\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(100vw - 500px) 120px;
}



@media (min-widht:1000){
    #caracteristicas{
        background-position-x: calc(100vw - 800px); 
    }
}

body{
    margin: 0;
    font-family: Verdana;
    justify-content: center;
    color: #fff;
    background-color: #000;
}

/* ======= Texto e iconos al final (Seguro, Rápido,... ============== */
.container1 ul{
    font-family: Arial;
    color: #fff;
    align-content: center;
}

.container1 ul li{
   text-align: center;
   font-size: 18px;
}

/* =======Pie de página ============== */
.container2{
    align-content: center;
    background: linear-gradient(to right, #9f9a9a, #000);
    height: 50px;
}

.container2 p{
    color: #000;
    text-align: center;
}